# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\module4\Thuc_Hanh_Quan_Li_Khach_Hàng\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
